
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    background-color:rgb(212, 216, 217);
    border: 2px solid red;
    padding: 10%; 
    
}
.div-unit{
    padding-bottom: 12px;
}

.input-style{
    width: 25%;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.input-style:focus{
  outline: none;
  box-shadow: rgb(212, 216, 217) 0px 1px 4px;
}

button{
    background-color: #3f3d42;
    color: white;
    box-shadow: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    
 
}
.labletext{
    margin-bottom: 5px;
}
.checkbox{
    width: 30px;
    height: 18px;
}
.btn{
    align-items: center;
}


